@page
@model MyApp.Namespace.BooksModel
@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>
    
    <div class="container">
        <div class="row">
            @foreach (var book in Model.Books)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            @book.Title
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
